.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9990;

  .modalContent {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 406px;
    height: 300px;

    .modal_header {
      h2 {
        text-transform: uppercase;
        font-size: 1.3rem;
        margin-bottom: 10px;
      }

      h2:nth-child(2) {
        color: #02AFEF;
      }
    }

    input {
      padding: 10px 10px;
      border: 1px solid black;
      border-radius: 10px;
      margin-bottom: 10px;
      width: 100%;
      font-size: 1.2rem;
    }

    .submit_button {
      display: block;
      margin: 0 auto;
      background-color: #00AEEF;
      border: none;
      width: 75%;
      padding: 20px 30px;
      border-radius: 10px;
      font-size: 1.1rem;
      cursor: pointer;

      &:hover {
        background-color: #0077B6;
      }
    }

    .close_button {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
      font-size: 1.7rem;
      border: none;
      cursor: pointer;
    }
  }
}