@use "styles/_variables.scss" as vars;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vars.$font-main;
    font-weight: 600;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}