.machineList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #FFAA00;

    .machine_container {
        max-width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        text-align: center;

        .machine_header {
            margin-bottom: 10px;
        }

        h2 {
            font-weight: 700;
        }

        h3 {
            font-weight: 400;
        }

        .bookMachine_button {

            button {
                background-color: #00AEEF;
                color: white;
                border: none;
                border-radius: 10px;
                width: 200px;
                height: 60px;
                font-size: 1.4rem;
                cursor: pointer;
                margin-bottom: 20px;

                &:hover {
                    background-color: #0077B6;
                }
            }
        }
    }


}