.booking_list {

  .user_booking {
    position: relative;
    background-color: #02AFEF;
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 10px;

    .user_time {
      padding-top: 20px;
    }

    button {
      position: absolute;
      top: 20px;
      right: -10px;
      transform: translate(-50%, -50%);
    }
  }
}