.booking_list {

  .user_booking_active {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #ffeecb;
    width: 200px;
    height: 65px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;

    h3 {
      font-weight: 600;
      font-size: 1.1rem;
      cursor: pointer;
    }
    p {
      font-weight: 400;
    }

    .booking_buttons {
      button {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 7px;
        right: 5px;
        font-size: 1.2rem;
        cursor: pointer;
        color: #FFAA00;
      }
    }
  }

  .user_booking_inactive {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border: 1px solid #FFAA00;
    width: 200px;
    height: 65px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;

    h2 {
      font-size: 1rem;
    }

    h3 {
      font-weight: 600;
      cursor: pointer;
    }
    p {
      font-weight: 400;
    }

    .booking_buttons {
      button {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 7px;
        right: 5px;
        font-size: 1.2rem;
        cursor: pointer;
        color: #FFAA00;
      }
    }
  }
}
